{% extends 'base_templates/header.html' %}
{% block content %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Author Dashboard</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="container mt-5">
    <h1 class="mb-4">Bem Vindo, {{ autor.name }}!</h1>

    <!-- Display Messages -->
    {% if messages %}
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <h2 class="mb-3">Seus Livros:</h2>
    <div class="row">
        {% for book in books %}
        <div class="col-md-4 mb-4">
            <div class="card">
                {% if book.cover %}
                <img src="{{ book.cover.url }}" class="card-img-top" alt="{{ book.title }} cover">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ book.title }}</h5>
                    <p><strong>Data de publicação:</strong> {{ book.published_date }}</p>
                    <p><strong>ISBN:</strong> {{ book.isbn }}</p>
                    <p><strong>Categorias:</strong> 
                        {% for category in book.categories.all %}
                            {{ category }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- Bootstrap JS and jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
{% endblock content %}
