{% block title %}{{ page_title }}{% endblock title %}

<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css">
    <title>Busca</title>
</head>




<div class="search-section">
    <div class="wrapper">
        <form action="{% url 'poesias:search' %}" method="GET" class="search-form">
            <input type="search" name="query" placeholder="Buscar poesia..." required>
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>
</div>


{% block list %}{{ search_term }}{% endblock list %}